<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="<%= htmlWebpackPlugin.options.description %>"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="https://unpkg.com/regenerator-runtime@0.13.1/runtime.js"></script>
    <script preload src='https://cdn.jsdelivr.net/gh/waldronmatt/dynamic-module-federation-assets@1.0.0/dist/bootstrap-entries.js'></script>
  </head>
  <body>
    <header></header>
    <main></main>
  </body>
</html>
